/* ==============================
 * Basic text styles
 * ============================== */

*, *::after, *::before {
    box-sizing: border-box;
}

.payment-text {
    color: #3e4e59;
    font-size: 16px;
    margin: 0;
}

.payment-text-bold {
    font-weight: bold;
    text-transform: uppercase;
}

.payment-text-danger {
    color: #fa755a;
}

.clearfix::after {
    clear: both;
    content: '';
    display: table;
}

/* ==============================
 * Wrapper (Background, position and size)
 * ============================== */

.payment-wrapper {
    background-color: rgba(0, 0, 0, .75);
    bottom: 0;
    left: 0;
    padding: 0 20px;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10000;
}

.payment-wrapper-inner {
    background-color: #fff;
    border-radius: 5px;
    display: block;
    left: 10px;
    max-height: 100%;
    max-width: 500px;
    overflow: auto;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translate(0, -50%);
}

/* ==============================
 * Header
 * ============================== */

.payment-header {
    background-color: {color};
    color: #fff;
    padding: 10px 20px;
    position: relative;
}

.payment-header-close-link {
    color: #fff;
    display: block;
    font-size: 0;
    line-height: 0;
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translate(0, -50%);
}

.payment-header-close-link:hover {
    color: #fff;
}

.payment-header-text {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 20px;
}

.payment-header-close {
    height: 25px;
    width: 25px;
    animation: payment-header-close-hover-out .25s ease-in-out 0s 1 normal forwards;
}

.payment-header-close-link:hover .payment-header-close {
    animation: payment-header-close-hover .25s ease-in-out 0s 1 normal forwards;
}

/* ==============================
 * Details
 * ============================== */

.payment-details {
    padding: 10px 20px;
}

.payment-items {
    display: block;
    padding: 8px 0;
}

.payment-items + .payment-items {
    border-top: 1px solid #e4e5e6;
}

.payment-item {
    display: flex;
    position: relative;
}

.payment-item-name {
    display: block;
    flex: 0 1 100%;
    padding-right: 25px;
}

.payment-item-total {
    display: block;
    flex: 0 1 100%;
    padding-right: 15px;
    text-align: right;
}

.payment-item-price {
    flex: 1 0 0;
}

.payment-item-price .payment-text {
    white-space: nowrap;
}

/* ==============================
 * Payment
 * ============================== */

.payment-pay {
    background-color: #e4e5e6;
    padding: 10px 20px 20px;
}

/* ==============================
 * Buttons
 * ============================== */

.payment-buttons {
    display: flex;
    margin: 10px 0 0 -10px;
}

.payment-buttons-button {
    flex: 1 1 50%;
    padding: 10px 0 0 10px;
}

.payment-button {
    background-color: #3e4e59;
    border: none;
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 16px;
    line-height: 20px;
    padding: 10px 15px;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}

.payment-button-submit {
    background-color: #45c48b;
}

/* Icons */

.payment-icon-check {
    height: 16px;
    width: 16px;
}

.payment-icon-back {
    height: 22px;
    width: 10px;
}

.payment-button .payment-icon {
    display: inline-block;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    transition: .25s ease-in-out opacity, .25s ease-in-out transform;
}

.payment-button .payment-icon + span {
    transition: .25s ease-in-out margin-right, .25s ease-in-out margin-left;
}

.payment-button:hover {
    color: #fff;
    cursor: pointer;
}

.payment-button:hover .payment-icon {
    margin-left: -5px;
    opacity: 1;
    transform: translate(-100%, -50%);
}

.payment-button:hover .payment-icon + span {
    margin-right: -20px;
}

/* ==============================
  * Error message
  * ============================== */

.payment-errors {
    max-height: 100px;
    min-height: 25px;
    transition: .25s ease-in-out min-height, .25s ease-in-out max-height;
}

.payment-errors:empty {
    max-height: 0;
    min-height: 0;
}

/* ==============================
  * Stripe element
  * ============================== */

.StripeElement {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 5px;
    margin: 15px 0 5px;
    padding: 10px 12px;
}

.StripeElement--invalid {
    border-color: #fa755a;
}

.StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
}

@media (min-width: 520px) {
    .payment-wrapper-inner {
        left: 50%;
        right: auto;
        transform: translate(-50%, -50%);
        width: 100%;
    }

    .payment-header {
        padding: 25px 50px;
    }
    .payment-header-text {
        font-size: 20px;
        line-height: 24px;
    }
    .payment-header-close-link {
        right: 50px;
    }
    .payment-header-close {
        height: 35px;
        width: 35px;
    }

    .payment-details {
        padding: 25px 50px;
    }

    .payment-pay {
        padding: 25px 50px 40px;
    }

    .payment-icon-check {
        height: 20px;
        width: 20px;
    }

    .payment-icon-back {
        height: 26px;
        width: 13px;
    }

    .payment-button {
        font-size: 20px;
        line-height: 24px;
    }

    .payment-button:hover .payment-icon {
        margin-left: -10px;
    }
    .payment-button:hover .payment-icon + span {
        margin-right: -10px;
    }
}

@keyframes payment-header-close-hover {
    0% {
        transform: scale(1) rotate(0deg);
    }
    100% {
        transform: scale(1.2) rotate(90deg);
    }
}

@keyframes payment-header-close-hover-out {
    0% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}
